In [2]:
import numpy as np
import pandas as pd

In [56]:
# Read the necessary dataframe from 9geek.
name_df = pd.read_csv("9geek_party_overview.csv")
cand9_df = pd.read_csv("9geek_result_candidate.csv")
party9_df = pd.read_csv("9geek_result_partylist.csv")
info9_df = pd.read_csv("9geek_district_overview.csv")
# After examining the flaws in 9geek dataset, I adjusted the dataset
cand_df = pd.read_csv("PL_result_candidate.csv")
party_df = pd.read_csv("PL_result_partylist.csv")


id_name = dict(zip(name_df["id"], name_df["name"]))

FileNotFoundError: [Errno 2] No such file or directory: '9geek_district_overview.csv'

In [16]:
cand_df

,cons_id,mp_app_id,mp_app_rank,mp_app_vote,mp_app_vote_percent,party_id
0,ACR_1,ACR_1_10,1,38275,36.25419,709
1,ACR_1,ACR_1_8,2,21388,20.25878,705
2,ACR_1,ACR_1_6,3,16724,15.84102,726
3,ACR_1,ACR_1_5,4,15926,15.08515,701
4,ACR_1,ACR_1_9,5,2825,2.67585,743
...,...,...,...,...,...,...
4776,YST_3,YST_3_6,7,821,0.78541,763
4777,YST_3,YST_3_11,8,561,0.53668,719
4778,YST_3,YST_3_7,9,531,0.50798,712
4779,YST_3,YST_3_1,10,498,0.47641,701
4780,YST_3,YST_3_8,11,296,0.28317,769

In [55]:
# Because the dataset is created by a lot of volunteers, it is likely that some of the inputs are incorrect. 
# Below are some sanity check this dataset should satisfy. 
"""
1. There must be 400 constituents and 77 provinces.
2. Given that each election district is divided so that it consists of roughly equal
number of eligible voters, the total sum of votes should not vary so much. 


"""

### 1. There must be 400 constituents.
cand_df.groupby("cons_id").nunique().shape[0] == 400

### 2. The sum of voters in each constituent should be around 70-120k.
# In the original dataset from 9geek, MSN_1, MSN_2, NYK_2, PBI_2, PBI_3, PLK_4,
# PTN_1, PTN_3, and SSK_7 have fewer than party list votes. 
# Status: I cross-checked the result with ThaiPBS on districts with too few and too many
# member of parliamentary votes. 
tempdf = cand_df.groupby("cons_id").sum()
tempdf[tempdf["mp_app_vote"] < 70000]

,mp_app_id,mp_app_rank,mp_app_vote,mp_app_vote_percent,party_id
cons_id,,,,,
MSN_1,MSN_1_2MSN_1_7MSN_1_6MSN_1_5MSN_1_3MSN_1_4MSN_...,55,65728,92.40285,7264
MSN_2,MSN_2_5MSN_2_6MSN_2_10MSN_2_4MSN_2_1MSN_2_2MSN...,91,69933,91.06689,9574
NYK_2,NYK_2_5NYK_2_1NYK_2_6NYK_2_3NYK_2_2NYK_2_7NYK_...,55,41716,46.88615,7365
PBI_2,PBI_2_5PBI_2_3PBI_2_6PBI_2_7PBI_2_2PBI_2_1PBI_...,45,48862,43.00211,6577
PBI_3,PBI_3_1PBI_3_2PBI_3_3PBI_3_7PBI_3_5PBI_3_6PBI_...,45,32560,29.56184,6577
PLK_4,PLK_4_5PLK_4_8PLK_4_2PLK_4_4PLK_4_6PLK_4_9PLK_...,78,62060,87.72722,8809
PTN_1,PTN_1_5PTN_1_4PTN_1_6PTN_1_8PTN_1_10PTN_1_7PTN...,120,66286,88.09238,11085
PTN_3,PTN_3_2PTN_3_9PTN_3_7PTN_3_3PTN_3_11PTN_3_5PTN...,92,67707,94.68327,9538
SSK_7,SSK_7_3SSK_7_4SSK_7_6SSK_7_5SSK_7_2SSK_7_10SSK...,55,42728,49.04554,7339

In [51]:
party9_df.groupby("cons_id").sum()

         party_id  party_list_vote  party_list_vote_percent
cons_id
ACR_1       49778           101353                 96.00188
ACR_2       49778           106956                 95.65614
ATG_1       49778            84919                 94.61098
ATG_2       49778            83512                 91.30383
AYA_1       49778           104364                 94.60373
...           ...              ...                      ...
YLA_2       49778            92745                 92.45012
YLA_3       49778            91342                 93.24802
YST_1       49778           106512                 96.39884
YST_2       49778            95204                 96.72059
YST_3       49778           100940                 96.56374

[400 rows x 3 columns]

In [37]:
cand9_df

,cons_id,mp_app_id,mp_app_rank,mp_app_vote,mp_app_vote_percent,party_id
0,ACR_1,ACR_1_1,9,459,0.43477,706
1,ACR_1,ACR_1_10,1,38275,36.25419,709
2,ACR_1,ACR_1_11,13,126,0.11935,712
3,ACR_1,ACR_1_12,12,127,0.12029,742
4,ACR_1,ACR_1_13,11,212,0.20081,761
...,...,...,...,...,...,...
4776,YST_3,YST_3_5,1,37946,36.30085,709
4777,YST_3,YST_3_6,7,821,0.78541,763
4778,YST_3,YST_3_7,9,531,0.50798,712
4779,YST_3,YST_3_8,11,296,0.28317,769
4780,YST_3,YST_3_9,3,14502,13.87326,726